Привет!<br>
<br>
Это специальный телеграм бот для получения ключа от безопасного VPN.<br>
<br>
/help — помощь<br>
<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/get_key - получить ключ от VPN<br>