Привет!<br>
<br>
Это специальный телеграм бот для получения ключа от безопасного VPN.<br>
<br>
/help — помощь<br>
<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/list_servers - выбрать доступный сервер и получить от него ключ<br>
/balance - узнать баланс